# Database Settings
DB_USER=postgres
DB_PASSWORD=your_database_password
DB_HOST=localhost
DB_PORT=5432
DB_NAME=openbench
DB_SSLMODE=disable

# JWT Auth Settings
JWT_ACCESS_SECRET=your_super_secret_access_key
JWT_REFRESH_SECRET=your_super_secret_refresh_key

# Encryption Settings
APP_ENCRYPTION_KEY=your_32_character_encryption_key_here
