package domain

import "time"

type RefreshToken struct {
	ID                string
	FamilyID          string
	UserID            string
	TokenHash         string
	IsUsed            bool
	IsRevoked         bool
	UsedAt            *time.Time
	ExpiresAt         time.Time
	CreatedAt         time.Time
	ReplacedByTokenID *string
}
