package auth

import (
	"context"
	"github.com/denden-dr/openbench/apps/backend/internal/domain"
	"github.com/jmoiron/sqlx"
)

type TokenRepository interface {
	GetByHashWithLock(ctx context.Context, tx *sqlx.Tx, hash string) (*domain.RefreshToken, error)
	Update(ctx context.Context, tx *sqlx.Tx, token *domain.RefreshToken) error
	RevokeFamily(ctx context.Context, tx *sqlx.Tx, familyID string) error
	Insert(ctx context.Context, tx *sqlx.Tx, token *domain.RefreshToken) error
}
