/* src/routes/layout.css */
@import "tailwindcss";

@theme {
  --color-neubrutalism-yellow: #f4d03f;
  --color-neubrutalism-charcoal: #2c3e50;
  --border-width-neubrutalism: 3px;
  --shadow-neubrutalism: 4px 4px 0px 0px rgba(0, 0, 0, 1);
  --font-sans: "Plus Jakarta Sans", sans-serif;
  --font-mono: "Space Mono", monospace;
}
